<template>
  <section id="about">
    <v-container fluid class="mt-10">
      <v-card color="primary">
        <v-row align="center" justify="center">
        <v-col cols="10">
          <v-row align="center" justify="center">
            <v-col cols="12" md="7">
              <h1 class="font-weight-light display-2">Dikdik Musfar</h1>
              <h1 class="font-weight-light display-1 mb-3">
                Halo jawa barat!
              </h1>
              <v-row>
                <v-col cols="12" class="d-flex align-center">
                  <v-img
                    src="https://dummyimage.com/600x400/000/fff"
                    max-width="60px"
                    class="mr-4"
                  />
                  <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </p>
                </v-col>
                <v-col cols="12" class="d-flex align-center">
                  <v-img
                    src="https://dummyimage.com/600x400/000/fff"
                    max-width="60px"
                    class="mr-4"
                  />
                  <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </p>
                </v-col>
                <v-col cols="12" class="d-flex align-center">
                  <v-img
                    src="https://dummyimage.com/600x400/000/fff"
                    max-width="60px"
                    class="mr-4"
                  />
                  <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" md="5" class="d-none d-md-flex">
              <v-img
                src="https://i.pinimg.com/originals/a8/9a/dd/a89add69179fbaecfdecaa5c7e79b4b5.jpg"
                class="d-block ml-auto mr-auto"
                max-width="400px"
              />
            </v-col>
          </v-row>
        </v-col>
        </v-row>
      </v-card>
    </v-container>
    <v-container fluid class="mt-10">
      <v-card color="primary">
        <v-row align="center" justify="center">
          <v-col cols="10">
            <v-row align="center" justify="center">
              <v-col cols="12" md="7">
                <h1 class="font-weight-light display-2">Dikdik Musfar</h1>
                <h1 class="font-weight-light display-1 mb-3">
                  Halo jawa barat!
                </h1>
                <v-row>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://dummyimage.com/600x400/000/fff"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </p>
                  </v-col>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://dummyimage.com/600x400/000/fff"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </p>
                  </v-col>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://dummyimage.com/600x400/000/fff"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </p>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="5" class="d-none d-md-flex">
                <v-img
                  src="https://i.pinimg.com/originals/a8/9a/dd/a89add69179fbaecfdecaa5c7e79b4b5.jpg"
                  class="d-block ml-auto mr-auto"
                  max-width="400px"
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
    <v-container fluid class="mt-10 mb-13">
      <v-card color="primary">
        <v-row align="center" justify="center">
        <v-col cols="10">
          <v-row align="center" justify="center">
            <v-col cols="12" md="7">
              <h1 class="font-weight-light display-2">Dikdik Musfar</h1>
              <h3 class="font-weight-light display-1 mb-3">
                Halo Bandung!
              </h3>
              <v-row>
                <v-col cols="12" class="d-flex align-center">
                  <v-img
                    src="https://i.pinimg.com/originals/49/43/d4/4943d4ad53947a0bf62bda92c03fd8fb.jpg"
                    max-width="60px"
                    class="mr-4"
                  />
                  <p class="text-justify">
                    Aku adalah seorang pelajar di Bandung. Lahir hingga sekarang tetap di Bandung. Tapi jarang keluar rumah
                    untuk melihat suasana Bandung.
                  </p>
                </v-col>
                <v-col cols="12" class="d-flex align-center">
                  <v-img
                    src="https://kuliahdimana.id/public/beasiswa/114966180083e888c1a6a6b89683f2dd.jpg"
                    max-width="60px"
                    class="mr-4"
                  />
                  <p class="text-justify">
                    Sebelumnya aku mau berterima kasih kepada jabar coding camp yang sudah memberi kesempatan untuk aku mengikuti
                    bootcamp ini. Bener - bener seneng banget... Trainer nya baik, temen di kelasnya pun baik. Penjadwalan belajar
                    yang mengharuskan kita belajar setiap hari merupakan metode pembelajaran yang baik di masa pandemi ini.
                  </p>
                </v-col>
                <v-col cols="12" class="d-flex align-center">
                  <v-img
                    src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota2_social.jpg"
                    max-width="60px"
                    class="mr-4"
                  />
                  <p class="text-justify">
                    Suka banget main dota. Dota itu bisa bikin aku lupa sama masalah yang aku alami, contohnya waktu itu aku pernah
                    ada masalah dengan diri aku sendiri, ngerasa insecure, bukan waktu itu deh, pokoknya setiap insecure dota selalu
                    membuat aku tenang dan berpikir jernih. Mungkin kata orang bermain game itu hanya hal sepele, tetapi bagi ku, game
                    merupakan tempat healing yang paling tepat.
                  </p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" md="5" class="d-none d-md-flex">
              <v-img
                src="https://i.pinimg.com/originals/07/67/13/076713849e639aba40b1ea42b8e5f3f9.jpg"
                class="d-block ml-auto mr-auto"
                max-width="400px"
              />
            </v-col>
          </v-row>
        </v-col>
        </v-row>
      </v-card>
    </v-container>
  </section>
  
</template>
