<template>
  <v-container>
    <div class="text-left">
      <v-btn x-large text class="blue--text">
        All Blogs are Here! <v-icon>mdi-brightness-2</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <blog-component 
        v-for="blog in blogs" 
        :key="`blog`+blog.id" 
        :blog="blog"
      ></blog-component>
    </v-layout>
    <div class='mt-15'>
      <v-row justify="center">
        <v-pagination
          v-model="page"
          @input="go"
          :length="lengthPage"
          :total-visible="perPage"
        ></v-pagination>
      </v-row>
    </div>
      
  </v-container>
</template>

<script>
import BlogComponent from '../components/BlogComponent.vue';
export default {
  data: () => ({
    apiDomain : "https://demo-api-vue.sanbercloud.com",
    blogs : [],
    page : 0,
    lengthPage : 0,
    perPage : 0,
  }),

  components : {
    'blog-component' : BlogComponent
  },

  methods : {
    go(){
      const config = {
        method : "get",
        url : this.apiDomain + "/api/v2/blog?page=" + this.page
      };

      this.axios(config)
        .then(response => {
          let { blogs } = response.data
          this.blogs = blogs.data
          this.page = blogs.current_page
          this.lengthPage = blogs.last_page
          this.perPage = blogs.per_page

        })
        .catch(
          error => {
            console.log(error);
          }
        );
    }
  },

  created(){
    this.go()
  }
}
</script>
