<template>
    <v-container>
        <div class="pa-3">
            <div v-if="!blogs.length" class="ml-4">
                <v-btn x-large text class="blue--text">
                    Sorry, we couldn't find it <v-icon>mdi-brightness-3</v-icon>
                </v-btn>
            </div>
            <div v-else class="ml-4 text-md-h4">
                <v-btn x-large text class="blue--text">
                    Search Resluts are Here! <v-icon>mdi-brightness-3</v-icon>
                </v-btn>
            </div>

        </div>
        <v-layout wrap>
        <blog-component 
            v-for="blog in blogs" 
            :key="`blog`+blog.id" 
            :blog="blog"
        ></blog-component>
        </v-layout>
    </v-container>
</template>


<script>
import BlogComponent from '../components/BlogComponent.vue';
export default{
components:{
    'blog-component' : BlogComponent
    },
data(){
    return{
        showSearch:null,
        domain:'https://demo-api-vue.sanbercloud.com',
        blogs:[],
        total:0
    }

},
computed: {
    queryComp(){
        let searchQuery = this.$route.params.query
        return searchQuery
    },
    // View ones that match the search query
    filteredList() {
      return this.blogs.filter(blog => {
        return blog.title.toLowerCase().includes(this.queryComp.toLowerCase())
      })
    }
  },
methods:{
    // Take the total amount blogs
    async go(){
        const config={
            method:'get',
            url: this.domain+ '/api/v2/blog'
        }
        this.axios(config)
        .then(response =>{
            let {total} = response.data.blogs
            this.total = total
            this.getAll()
            
        }).catch(error => console.log(error))
    },
    // Get all the blogs
    async getAll(){
        const config={
            method:'get',
            url: this.domain+ `/api/v2/blog/random/${this.total}`
        }
        this.axios(config)
        .then(response =>{
            console.log(response.data);
            let {blogs} = response.data
            this.blogs = blogs
            
        }).catch(error => console.log(error))
    }
    
},
async created() {
    await this.go()
    
}


}

</script>
