<template>
    <v-flex xs6 class="mt-5">
      <v-card
          class="mx-auto"
          color="#26c6da"
          dark
          max-width="400"
          :to="`/blog/` + blog.id"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-apple
            </v-icon>
            <span class="text-h6 font-weight-light">{{ blog.title }}</span>
          </v-card-title>

          <v-card-text class="text-h5 font-weight-bold">
            {{ blog.description.substring(0,20) }}...
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-avatar color="grey darken-3">
                <v-img
                  class="elevation-6"
                  alt=""
                  :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"
                ></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>{{ blog.title }}</v-list-item-title>
              </v-list-item-content>

              <v-row
                align="center"
                justify="end"
              >
                <v-icon class="mr-1">
                  mdi-fullscreen
                </v-icon>
                <span class="subheading mr-2">Detail</span>
              </v-row>
            </v-list-item>
          </v-card-actions>
        </v-card>  
    </v-flex>
</template>

<script>
export default {
    data : () => ({
        apiDomain : 'https://demo-api-vue.sanbercloud.com',
    }),
    props : ['blog']
}
</script>
